body{
	background-image: url("London View.jpg");
	background-repeat: no-repeat;
	color:#e9e5d6;
	font:small-caps lighter 65px 'Comic Sans MS';
	margin:0px auto;
    width:950px;
    line-height:1.5em;
    text-align: center;
    letter-spacing: 4px;
}

p a{
    color:pink;
    text-decoration:none;
    padding:10px;
	}

p a:hover{
	 color:#ff6f69;
}

p a:visited{
	color:none;
}
p a:active{
	color: #ffa8a5;
}