h1 {
	color:purple;
	font:small-caps 50px 'Comic Sans MS';
}

h2{
	color:purple;
	font-family:'Comic Sans MS';
	font-variant: small-caps;
}

h3 {
	color:green;
 	font-family:'Comic Sans MS';
 	font-size: 24px;
 	font-variant: small-caps;
 	font-weight: 600;
}

h4 {
	font-family:'Comic Sans MS';
	font-size: 17px
}

body{
	font-family:'Comic Sans MS';
	line-height: 1.5em;
	text-align: center;
	width:950px;
	margin:0px auto;
	background-color: #f4d2d0;
}

p{
	color: #172703;
	font-size:18px;
	line-height:2.0em;
}

#paragraph{
	font-weight: lighter;
	font-style: italic;
}

#content, #start{
	font-family: 'Comic Sans MS';
	font-weight: lighter;
	font-size:normal;
	font-size:18px;
	line-height:1.3em;
	text-align: left;
}

p a:link{
	 text-decoration:none;
	}

p a:hover{
	 color: #ff6f69;
}
li a:link{
	 text-decoration:none;
	}
li a:hover{
	 color: #ff6f69;